<link rel="stylesheet" href="/css/header.css">
<header>
    <nav>
        <div>
            <a href="/"><img src="/images/logo.png" alt="PostIt"></a>
        </div>
        <div class="search-container">
            <form action=""><input type="text"><button>Search</button></form>
        </div>
        <div class="account">
            <input type="image" id="account" class="acc" src="/images/account.png" alt="Account Photo" />
        </div>
    </nav>
</header>