<div class="header">
    <a href="#"><img class="account" src="/images/account.png" alt="Account Photo"></a>
    <p id="author">
        <%=post.author %>
    </p>
    <p id="time">
        <%= post.time %>
    </p>
</div>
<div class="content">
    <!-- TODO - ADD IMAGE -->
</div>
<div class="text">
    <p id="title">
        <%= post.title %>
    </p>
    <p id="body">
        <%= post.body %>
    </p>
</div>