<div class="header">
    <a href="#"><img class="account" src="/images/account.png" alt="Account Photo"></a>
    <p id="author">
        <%=post.author %>
    </p>
    <p id="time">
        <%= post.time.toLocaleString('en-GB')%>
    </p>
</div>
<div class="content" id="body">
    <img src="<%= post.body %>" alt="">
</div>
<div class="text">
    <p id="title">
        <%= post.title %>
    </p>
</div>