<div class="header">
    <a href="#"><img class="account" src="/images/account.png" alt="Account Photo"></a>
    <p id="author">
        <%=post.author %>
    </p>
    <p id="time">
        <%= new Date(post.time).toLocaleString("en-US", { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour12: false, hour: '2-digit', minute: '2-digit' }) %>
    </p>
</div>
<div class="content" id="body">
    <img src="<%= post.body %>" alt="">
</div>
<div class="text">
    <p id="title">
        <%= post.title %>
    </p>
</div>