<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/create.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
<title>Create a post</title>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="content-area">
                <div class="title">
                    <h1>Create a new post!</h1>
                </div>
                <div class=form>
                    <form action="/posts" method="POST">
                        <label for="author">Author:*</label>
                        <input type="text" id="author" name="author" required maxlength="25"></textarea><br><br>
                        <label for="title">Post title:*</label>
                        <input type="text" id="title" name="title" required maxlength="50"><br><br>
                        <label for="body">Post image (URL):*</label>
                        <input type="url" id="body" name="body" required><br><br>

                        <button @click="addPost">Submit</button>
                    </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

<script>
    import axios from 'axios'

    export default {
        name: 'posts',
        data: function() {
            return {
                post: {
                    author: null,
                    title: null,
                    body: null,
                }
            }
        },
        methods: {
            addPost: function() {
                axios.post('posts/', this.post)
                    .then(() => {
                        this.refresh();
                    })
            },
        },
        props: {
            refresh: Function
        }
    }
</script>

</html>