<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/post.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>PostIt!</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <main>
            <div class="content-area">
                <div class="title">
                    <h1>Welcome to PostIt!</h1>
                    <h3>Here you can share all of your favourite snippets, images and ideas!</h3>
                    <p>Use menu above to get around the website!</p>
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
</body>

</html>