footer {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

footer .logo img {
    height: 40px;
    width: auto;
}

footer .center {
    justify-content: center;
    align-self: center;
}

footer .footer-nav {
    display: inline;
}

footer a {
    color: #b30000;
    text-decoration: none;
}

footer a:hover {
    color: black;
}