header {
    top: 0;
    background-color: white;
    filter: drop-shadow(0 0px 3px rgb(119, 119, 119));
}

header .header {
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .header div {
    height: 30px;
    flex-grow: 1;
    padding: 10px;
}

header .header div input {
    height: 30px;
}

header .header div img {
    height: 100%;
}

header .header div #account {
    float: right;
}

header .header div.search-container form>input {
    box-sizing: border-box;
    height: 30px;
    width: 75%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

header .header div.search-container form>button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.2s;
}

header .header div.search-container form>button {
    box-sizing: border-box;
    height: 30px;
    width: 25%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #b30000;
    color: white;
    font-weight: 600;
}

header .navigation {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

header .navigation a {
    text-decoration: none;
    color: #b30000;
}

header .navigation a:hover {
    text-decoration: none;
    color: black;
}