nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color: #ffffff;
    align-items: center;
    filter: drop-shadow(0 0px 3px rgb(119, 119, 119));
}

nav div {
    height: 30px;
    flex-grow: 1;
    padding: 10px;
}

nav div input {
    height: 30px;
}

nav div img {
    height: 100%;
}

nav div #account {
    float: right;
}

nav div.search-container form>input {
    box-sizing: border-box;
    height: 30px;
    width: 75%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container form>button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.2s;
}

nav div.search-container form>button {
    box-sizing: border-box;
    height: 30px;
    width: 25%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #b30000;
    color: white;
    font-weight: 600;
}